<!DOCTYPE html>
<html>
<head>
</head>
<body>

<input type="text" id="txt"/>
<input type="button" id="btn" value="Отправить">
<script>
    function send() {
        var xhr = new XMLHttpRequest();
        var url = "http://localhost:8090/send";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        var data = document.getElementById("txt").value;
        console.log(data);
        alert(data);
        xhr.send(data);
    }

    document.getElementById("btn").onclick = send;
</script>
</body>
</html>